@tailwind base;
@tailwind components;
@tailwind utilities;

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .imgsect:hover .divvy{
    color: white;
    transition: all 0.5s ease-in;
    cursor: pointer;
  }
  .err{
    font-style: italic;
    background-color: red;
  }
  /* body div#ex0 , body div#ex1 p, body div#ex2{  
  } */