<script src="/javascripts/script.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

    <!-- Script element sourcing the TinyMCE configuration -->
<script type="application/javascript" src= "/javascripts/my-tinymce-config.js"></script>
</body>
</html>